<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="helloMysqlDaoImpl" class="com.weison.spring.dao.HelloMysqlDaoImpl"></bean>
    <bean id="helloOracleDaoImpl" class="com.weison.spring.dao.HelloOracleDaoImpl"></bean>
    <bean id="helloH2DaoImpl" class="com.weison.spring.dao.HelloH2DaoImpl"></bean>

    <bean id="flower" class="com.weison.spring.bean.Flower"></bean>
    <bean id="dog" class="com.weison.spring.bean.Dog"></bean>

</beans>