<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--IOC 容器的配置元信息分为 beans 和 context 两部分，分别展开来看-->

    <bean id="helloMysqlDaoImpl" class="com.weison.spring.ioc.xml.dao.HelloMysqlDaoImpl"></bean>
    <bean id="helloOracleDaoImpl" class="com.weison.spring.ioc.xml.dao.HelloOracleDaoImpl"></bean>
    <bean id="helloH2DaoImpl" class="com.weison.spring.ioc.xml.dao.HelloH2DaoImpl"></bean>

    <bean id="flower" class="com.weison.spring.ioc.xml.bean.Flower"></bean>
    <bean id="dog" class="com.weison.spring.ioc.xml.bean.Dog"></bean>


    <!-- 开启注解配置 -->
    <context:annotation-config/>
    <bean class="com.weison.spring.ioc.annotation.config.ComponentScanConfiguration"/>
    <!--注解驱动使用扫描bean路径-->
    <context:component-scan base-package="com.weison.spring.ioc.annotation.bean"/>

    <!-- 属性注入配置 -->
    <bean class="com.weison.spring.ioc.annotation.bean.Mermaid">
        <property name="name" value="${mermaid.name}"/>
    </bean>

    <!-- SpEL属性注入配置 -->
    <bean class="com.weison.spring.ioc.annotation.bean.Pig">
        <property name="name" value="#{'佩奇'}"/>
        <property name="order" value="#{pigPapa.order + 1}"/>
    </bean>

    <bean class="com.weison.spring.ioc.annotation.bean.PigPapa">
        <property name="name" value="#{'copy of ' + pig.name + '她爹'}"/>
        <property name="order" value="#{1}"/>
    </bean>
</beans>